.img {
   background-size: auto;
    background: url("image/background\ spiderman.jpeg") ;
background-repeat: no-repeat;
background-position: center;
   

}
.background {
    background: url("image/saison-des-super-heÌros-marvel.png");


}
.test{background-position: center;
    height: 4rem;
    width: auto;
}