.img {
    background-size: contain;
    background: url("image/super-heros-marvel-min.jpeg");

background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}
.background {
    background: url("image/saison-des-super-heÌros-marvel.png");


}
.test{
    height: 4rem;
    width: auto;
}