.img {
    background-size: cover;
    background: url("image/super-heros-marvel-min.jpeg");

background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
   

}
.background {
    background: url("image/saison-des-super-heÌros-marvel.png");


}
.test{background-position: center;
    height: 4rem;
    width: auto;
}